font-family: "Montserrat", sans-serif;
font-family: "Gloria Hallelujah", cursive;
font-family: "Oxygen", sans-serif;
font-family: "Ubuntu", sans-serif;

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 23px;
  background-color: #35605a;
  font-family: "Montserrat";
}

#app {
  display: grid;
  width: 100%;
  grid-template-columns: [left] 100px [middle] auto [right] 100px;
  grid-template-rows: [top] 80px [bottom] auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#main {
  grid-column: middle;
  grid-row: bottom;
}
